
.icon-basket:before { content: '\e800'; } /* '' */
.icon-exit-fullscreen:before { content: '\e801'; } /* '' */
.icon-cross:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-db:before { content: '\e804'; } /* '' */
.icon-add-drive:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-pin:before { content: '\e807'; } /* '' */
.icon-enter-fullscreen:before { content: '\e808'; } /* '' */
.icon-discuss:before { content: '\e809'; } /* '' */
.icon-i:before { content: '\e80a'; } /* '' */
.icon-folded-picture:before { content: '\e80b'; } /* '' */
.icon-author:before { content: '\e80c'; } /* '' */
.icon-eye:before { content: '\e80d'; } /* '' */
.icon-add-calendar:before { content: '\e80f'; } /* '' */
.icon-picture:before { content: '\e810'; } /* '' */
.icon-folder:before { content: '\e811'; } /* '' */
.icon-banner:before { content: '\e812'; } /* '' */
.icon-play:before { content: '\e813'; } /* '' */
.icon-order:before { content: '\e814'; } /* '' */
.icon-photo-size:before { content: '\e815'; } /* '' */
.icon-circled-true:before { content: '\e816'; } /* '' */
.icon-arrow-right:before { content: '\e817'; } /* '' */
.icon-arrow-down:before { content: '\e818'; } /* '' */
.icon-arrow-left:before { content: '\e819'; } /* '' */
.icon-wheel:before { content: '\e81a'; } /* '' */
.icon-grid:before { content: '\e81b'; } /* '' */
.icon-calendar:before { content: '\e81c'; } /* '' */
.icon-person:before { content: '\e81d'; } /* '' */
.icon-star:before { content: '\e81e'; } /* '' */
.icon-tags:before { content: '\e81f'; } /* '' */
.icon-lens:before { content: '\e820'; } /* '' */
.icon-home:before { content: '\e821'; } /* '' */
.icon-add:before { content: '\e822'; } /* '' */
.icon-edit:before { content: '\e823'; } /* '' */
.icon-share:before { content: '\e824'; } /* '' */
.icon-structure:before { content: '\e825'; } /* '' */
.icon-three-dot:before { content: '\e826'; } /* '' */
